$color-white: #FFFFFF;
$color-darkred: #650300;
$color-pink: #FBF2F2;
$color-red: #AA0601;
$color-black: #000000;
$color-lightgray: #00000029;
$color-cardshadow: #DEE2E6;
$color-gray: #707070;

$font-size: 16px;
